
body{
    background-color: whitesmoke;
}
#main
{
display: flex;
height: 100%;
width: 100%;
}

#sidebar
{
    background-color: rgba(224,234,254,255);
    width: 30%;
}
#aside-content{
    padding-left: 20px;
    padding-right: 40px;
}

#sidebar img{
    padding: 0;
    margin: 0;
    width: 300px;
}
#content{
    background-color: white;
    padding-left: 100px;
}
#contacts{
    padding-bottom: 40px;
}
.section-blue{
    color : cornflowerblue;
}
.section-date-grey{
    color: grey;
}

#name,
#projects,
#work{
    padding-right: 200px;
    padding-bottom: 40px;
}
