
#main
{
display: flex;
flex-direction: row;
flex-wrap: wrap;
height: 100%;
width: 100%;
}

#sidebar
{
    background-color: rgba(224,234,254,255);
    width: 20%;
    margin-left: 2%;
}
#sidebar div{
    display: grid;
    grid-template-columns: 1fr 5fr
}