
#main
{
display: flex;
height: 100%;
width: 100%;
}

#sidebar
{
    background-color: rgba(224,234,254,255);
    width: 20%;
    margin-left: 2%;
    padding-right: 2%;

}
#content{
    margin-right: 2%;
    padding-left: 2%;
}
#sidebar div{
    display: grid;
    grid-template-columns: 1fr 5fr
}
.section-blue{
    color : cornflowerblue;
}
.section-date-grey{
    color: grey;
}